body {
    background: rgb(95,27,104);
    background: linear-gradient(90deg, rgba(95,27,104,1) 0%, rgba(158,14,67,1) 50%, rgba(224,0,26,1) 100%);
}

h2 {
    font-size: 300px;
    text-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}